@import '~bootstrap/scss/bootstrap';
@import 'variables';

body {
  background-attachment: fixed;
  background-image: url('public/worldmap_bg.jpg');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  font-family: $body-font;
}

h2 {
  font-family: $title-font;
  font-weight: bold;
}

h3 {
  font-family: $title-font;
}

ul {
  list-style-type: none;
  text-align: left;
}

button {
  font-family: $title-font;
}

.page-title {
  font-size: 40px;
  font-style: italic;
  letter-spacing: 3px;
  margin-top: 10px;
  text-align: center;
}

.welcome {
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.button-center {
  text-align: center;
}

.title-class {
  font-family: $title-font;
}

.btn-primary {
  background-color: $button-color;
  border-color: $button-color;

  &:not(:disabled):not(.disabled):active {
    background-color: $button-color-hover;
    border-color: $button-color-hover;
  }

    &:hover {
      background-color: $button-color-hover;
      border-color: $button-color-hover;
    }

}

.btn-link {
  color: $link-color;
  text-decoration: none;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }

}

.add-button {
  color: $dark-link-color;
  font-size: 25px;

  &:hover {
    color: $dark-link-color-hover;
  }
}

.main-nav {
  background-color: $nav-color;
  font-family: $title-font;
}

.navbar-brand {
  font-size: 27px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
}

.card {
  background-color: $bg-color;
  margin: 20px;
  padding: 10px;
}

.card-body {
  text-align: center;
}

.flight-card {
  background-color: $nav-color;
}

.flight-listgroup {
  padding-bottom: 20px;
  text-align: left;
}

.itinerary-info {
  background-color: $nav-color-dark;
  text-align: left;
}

.itinerary-button-class {
  margin-bottom: 15px;
}

.add-desc {
  text-align: left;
}

.auth-form {
  margin-top: 30px;
}

form {
  text-align: left;
}

.form-label {
  font-size: 15px;
  font-weight: bold;
}

.form-text {
  font-weight: bold;
}

.faux-link {
  cursor: pointer;
  text-decoration: underline;
}

.modal-content {
  background-color: $modal-color;
}

.auth-card {
  background-color: $nav-color;
}

.list-group-item {
  background-color: $bg-color;
}

.card-header {
  background-color: $nav-color;
}
