$nav-color: rgba(207, 136, 46, .7);
$modal-color: rgba(236, 215, 130, .8);
$bg-color: rgba(236, 215, 130, .7);
$title-font: 'Righteous', serif;
$body-font: 'Roboto Slab', serif;
$link-color: #bc7d29;
$link-color-hover: #926120;
$button-color: rgba(0, 0, 67, .8);
$button-color-hover: rgba(0, 0, 35, .8);
$dark-link-color: #694517;
$dark-link-color-hover: #3f2a0d;
